<div
  style="
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  "
>
  <h1>Productos</h1>
  <!-- Botón para ir al Carrito -->
  <button mat-raised-button color="primary" [routerLink]="['/carrito']">
    Ir al Carrito
  </button>
</div>

<div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <br />
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ingrese producto a buscar"
      #input
    />
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Columna 'Título' -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Producto</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <!-- Columna 'Precio' -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let element">
          {{ element.price | currency }}
        </td>
      </ng-container>

      <!-- Columna 'Categoría' -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Categoría</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
      </ng-container>

      <!-- Columna 'Imagen' -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Imagen</th>
        <td mat-cell *matCellDef="let element">
          <img
            [src]="element.image"
            alt="Imagen del producto"
            width="100"
            height="100"
          />
        </td>
      </ng-container>

      <!-- Columna 'Rate' -->
      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef>Rate</th>
        <td mat-cell *matCellDef="let element">{{ element.rating.rate }}</td>
      </ng-container>

      <!-- Columna 'Count' -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Count</th>
        <td mat-cell *matCellDef="let element">{{ element.rating.count }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Columna 'Acciones' (Botón "Ver detalles") -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="width: 120px">Acciones</th>
        <td mat-cell *matCellDef="let product">
          <button
            mat-button
            (click)="openProductDetails(product)"
            mat-raised-button
          >
            Ver detalles
          </button>
        </td>
      </ng-container>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 50]"
      showFirstLastButtons
      aria-label="Selecciona la pagina"
    >
    </mat-paginator>
  </div>
</div>
